<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
        integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}My Site{% endblock %}</title>
</head>

<body>
    <header class='shadow-md bg-white font-[sans-serif] tracking-wide relative z-50 shadow-md top-0'>
        <section
            class='flex items-center flex-wrap justify-between lg:justify-start gap-4 py-3 sm:px-10 px-4 border-gray-200 border-b min-h-[75px]'>

            <a href="/" class="flex-shrink-0">
                <img src="https://i.postimg.cc/66MvzQZZ/logo.png" alt="logo" class="w-24" />
            </a>

            <div class="flex items-center justify-center">
                <input type='text' placeholder='Search something...'
                    class='xl:w-96 max-lg:w-full lg:ml-8 max-md:mt-4 max-lg:ml-4 bg-gray-100 px-6 rounded h-10 outline-[#333] text-sm' />
            </div>

            <div class="lg:absolute lg:right-10 flex items-center ml-auto space-x-8">
                {% if user.is_authenticated %}
                <a href="{% url 'view_cart' %}" class="relative text-gray-600 hover:text-gray-900 transition-colors duration-300">
                    <i class="ri-shopping-cart-2-fill text-2xl"></i>
                </a>
            {% else %}
                <span class="relative text-gray-600 hover:text-gray-900 transition-colors duration-300">
                    <i class="ri-shopping-cart-2-fill text-2xl"></i>
                    <span class="bg-red-500 text-white text-xs font-thin rounded-full px-1 absolute -top-1 -right-2">0</span>
                </span>
            {% endif %}

                {% if user.is_authenticated %}
               
                <div class="flex items-center">
                    <span class="text-gray-100 bg-gray-800 px-3 py-2 rounded-lg mr-3">
                        <a href="{% url 'userprofile' %}">My Profile</a>
                    </span>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="relative bg-orange-600 hover:bg-red-700 text-white py-2 px-3 rounded-md transition-colors duration-300">
                            Logout
                        </button>
                    </form>
                </div>
                {% else %}
               
                <a href="{% url 'login' %}"
                    class="relative bg-blue-800 hover:bg-blue-900 text-white py-2 px-3 rounded-md transition-colors duration-300">
                    Login
                </a>
                <a href="{% url 'signup' %}"
                    class="relative bg-blue-800 hover:bg-blue-900 text-white py-2 px-3 rounded-md transition-colors duration-300">
                    Sign Up
                </a>
                {% endif %}
            </div>
        </section>

        <div class='flex flex-wrap justify-center px-10 py-3 relative'>

            <div id="collapseMenu"
                class='max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-40 max-lg:before:inset-0 max-lg:before:z-50'>
                <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
                        <path
                            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                            data-original="#000000"></path>
                        <path
                            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                            data-original="#000000"></path>
                    </svg>
                </button>

                <ul
                    class='lg:flex lg:gap-x-10 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-2/3 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-4 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'>
                    <li class='max-lg:border-b max-lg:pb-4 px-3 lg:hidden'>
                        <a href="#"><img src="https://i.postimg.cc/66MvzQZZ/logo.png" alt="logo" class='w-36' />
                        </a>
                    </li>
                    <li class='max-lg:border-b max-lg:px-3 max-lg:py-3'><a href='/'
                            class='hover:text-[#007bff] text-gray-600 font-semibold block text-[15px]'>Home</a></li>
                    <li class='group max-lg:border-b max-lg:px-3 max-lg:py-3 relative'>
                        <a href='#'
                            class='hover:text-[#007bff] hover:fill-[#007bff] text-gray-600 font-semibold text-[15px] block'>Menu<svg
                                xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" class="ml-1 inline-block"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 16a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 1.42-1.42l5.29 5.3 5.29-5.29a1 1 0 0 1 1.41 1.41l-6 6a1 1 0 0 1-.7.29z"
                                    data-name="16" data-original="#000000" />
                            </svg>
                        </a>
                        <ul
                            class='absolute top-5 max-lg:top-8 left-0 z-50 block space-y-2 shadow-lg bg-white max-h-0 overflow-hidden min-w-[250px] group-hover:opacity-100 group-hover:max-h-[700px] px-6 group-hover:pb-4 group-hover:pt-6 transition-all duration-500'>
                            <li class='border-b py-3'>
                                <a href="{% url 'breakfast' %}"
                                    class='hover:text-[#007bff] hover:fill-[#007bff] text-gray-600 font-semibold text-[15px] block'>
                                    <i class="ri-bowl-line mr-2"></i>
                                    Breakfast
                                </a>
                            </li>
                            <li class='border-b py-3'>
                                <a href="{% url 'lunch' %}"
                                    class='hover:text-[#007bff] hover:fill-[#007bff] text-gray-600 font-semibold text-[15px] block'>
                                    <i class="ri-restaurant-2-line mr-2"></i>
                                    Lunch
                                </a>
                            </li>
                            <li class='border-b py-3'>
                                <a href="{% url 'dinner' %}"
                                    class='hover:text-[#007bff] hover:fill-[#007bff] text-gray-600 font-semibold text-[15px] block'>
                                    <i class="ri-restaurant-fill mr-2"></i>
                                    Dinner
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class='max-lg:border-b max-lg:px-3 max-lg:py-3'><a href="{% url 'about' %}"
                            class='hover:text-[#007bff] text-gray-600 font-semibold text-[15px] block'>About</a></li>
                    <li class='max-lg:border-b max-lg:px-3 max-lg:py-3'><a href="{% url 'contact' %}"
                            class='hover:text-[#007bff] text-gray-600 font-semibold text-[15px] block'>Contact</a></li>
                </ul>
            </div>

            <div id="toggleOpen" class='flex ml-auto lg:hidden'>
                <button>
                    <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>




    <div>
        {% block content %}
        {% endblock %}
    </div>




    <script>
        var toggleOpen = document.getElementById('toggleOpen');
        var toggleClose = document.getElementById('toggleClose');
        var collapseMenu = document.getElementById('collapseMenu');

        function handleClick() {
            if (collapseMenu.style.display === 'block') {
                collapseMenu.style.display = 'none';
            } else {
                collapseMenu.style.display = 'block';
            }
        }

        toggleOpen.addEventListener('click', handleClick);
        toggleClose.addEventListener('click', handleClick);
    </script>


</body>

</html>