<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav class="flex items-center justify-between bg-gray-800 h-20 shadow-2xl">
        <div class="logo">
          <h1 class="text-white ml-4 cursor-pointer text-2xl">Dashboard</h1>
        </div>
        <ul class="flex">
          <li>
            <a class="text-white mr-4 bg-gray-500 pt-4 p-4 pr-5 pl-5 hover:bg-gray-600 transition-all rounded" href="{% url 'trackorder' %}"><i class="ri-inbox-unarchive-line mr-2"></i>Track Order</a>
          </li>

          <li>
            <a class="text-white mr-4 bg-gray-500 pt-4 p-4 pr-5 pl-5 hover:bg-gray-600 transition-all rounded" href="{% url 'getmessage' %}"><i class="ri-message-2-line mr-2"></i>Messages</a>
          </li>

          <li>
            <a class="text-white mr-4 bg-gray-500 pt-4 p-4 pr-5 pl-5 hover:bg-gray-600 transition-all rounded" href="{% url 'ownerlogout' %}"><i class="ri-logout-circle-line"></i> Logout</a>
          </li>
        </ul>
      </nav>
      <div>
        {% block content %}
        {% endblock %}
      </div>
</body>
</html>